[sources.demo_logs]
type = "generator"
format = "json"
lines = [
  '{"message": "Hello from Vector", "host": "{{ ansible_hostname }}"}',
  '{"message": "This is a test log", "level": "info"}',
  '{"message": "Vector is running", "level": "debug"}',
]
interval = 1

[sinks.console]
type = "console"
inputs = ["demo_logs"]
target = "stdout"
encoding.codec = "text"

[sinks.file]
type = "file"
inputs = ["demo_logs"]
path = "/var/log/vector/vector.log"
encoding.codec = "text"